.projects-page {
  height: 160vh;
  width: 97vw;
  width: auto;
  background-color: white;
  color: black;
  cursor: default;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  /* border: 3px solid green; */
}

.note, .project-list {
  width: 98vw;
  
}

.note {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-end;
  padding-bottom: 2rem;
  height: 30vh;
}

.project-list {
  display: grid;
  grid-gap: 25px 10px;
  grid-template-columns: repeat(2, 1fr);
  height: 70vh;
}

.message {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  text-align: center;
  padding-left: 10rem;
  padding-bottom: 3rem;
}

.individual {
  border: 3px solid black;
  border-radius: 20px;
  margin: 3px;
  padding: 5px 5px;
  width: 96%;
  height: 100%;
}