.projects-page {
  height: 190vh;
  width: 97vw;
  width: auto;
  background-color: rgb(215, 245, 255);
  color: black;
  cursor: default;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding-top: 4rem;
}

.note, .project-list {
  width: 98vw;
  
}

.note {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 30vh;
  text-align: center;
  padding-top: 7rem;
}

.project-list {
  display: grid;
  grid-gap: 25px 10px;
  grid-template-columns: repeat(2, 1fr);
  height: 70vh;
  margin-bottom: 3rem;
}

.message {
  padding-bottom: 3rem;
}

.message p {
  text-align: center;
}

.individual {
  border: 3px solid black;
  border-radius: 20px;
  margin: 3px;
  padding: 5px 5px;
  width: 96%;
  height: 100%;
}

@media only screen and (max-width: 800px){
  .projects-page {
    height: 160vh;
    margin-top: 10rem;
  }

  .carousel-container {
    height: 60vh;
  }
}


@media only screen and (max-width: 650px){
  .projects-page {
    margin-bottom: 70rem;
  }
}