.mylinks{
  display: inline-block;
  position: fixed;
}


.github, .linkedin, .resume {
  position: fixed;
  top: 10vh;
  width: 40px;
  cursor: pointer;
}

.github {
    left: 5vw;
}

.linkedin {
  left: 115px;
}

.resume {
  border: 2px solid black;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 70px;
  left: 175px;
}