.about {
  height: 180vh;
  width: auto;
  background-color: rgb(215, 245, 255);
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 35rem;
  background-color: rgb(215, 245, 255);
}

.me, .ed, .my-form, .more {
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  line-height: 2rem;
  background-color: rgb(215, 245, 255);
}

.me { 
  grid-area: 1 / 1 / 4 / 3; 
}

.ed { 
  grid-area: 1 / 3 / 2 / 5; 
}

.my-form { 
  grid-area: 2 / 3 / 6 / 5; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 245, 255);
}

.in {
  display: flex;
  margin: 1rem;
  padding: 0.2rem;
}

.more { 
  grid-area: 4 / 1 / 6 / 3; 
}

.ed > p {
  font-size: 2.5rem;
  line-height: 7px;
}

.ed, .dates {
  text-align: center;
  padding: 1rem;
}

p.dates {
  font-size: 1.3rem;
  line-height: 0rem;
}

.more-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

.more-info {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  line-height: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.me-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.me-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-size: 2rem;
  padding-left: 2rem;
}

input, textarea {
  display: block;
  margin-left: 3rem;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 1rem;
}

textarea {
  margin: 0px 55px 30px 50px; 
  width: 80%; 
  height: 30%;
}
/* 
@media only screen and (max-width: 1000px) {
  .about-container {
    padding-top: 13rem;
  }
} */

@media only screen and (max-width: 800px) {
  .about {
    height: 0;
    height: 40rem;
  }

  .about-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    background-color: rgb(215, 245, 255);
  }

    .me.me-container {
    order: 0;
  }

  div.ed {
    order: 2;
  }

  form.my-form {
    order: 3;
  }

  .more.more-container {
    order: 1;
  }

  .me.me-container, div.ed, form.my-form, .more.more-container {
    padding: 0.5rem;
    margin: 0;
  } 

 .me-item, .ed > p, .my-form > p {
    font-size: 1.2rem;
    line-height: 0rem;
  }

  .more {
    line-height: 1.3rem;
    font-size: 1.3rem;
  }

  .me, .ed, .my-form > p, .more.more-container > p {
    line-height: 0rem;
  }

  .ed, .dates {
    padding: 0;
  }

  input, textarea {
    font-size: 0.7;
  }

  textarea {
    width: 74%; 
    height: 20%;
  }

  .project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 25px 10px;
    grid-template-columns: repeat(1, 1fr);
    height: 200vh;
  }
}

@media only screen and (max-width: 670px) {
 .me > .me-item > p, .ed > p, .info > p, .my-form > p, .more > p  {
    font-size: 1rem;
    margin: 1rem;
  }

   .me > .me-item > p, .ed > p, .info > p, .my-form > p {
    font-size: 1rem;
    margin: 1rem;
    line-height: 0rem;
  }

  .more {
    line-height: 1.3rem;
    font-size: 1rem;
    padding: 2rem;
  }

  input::placeholder, textarea::placeholder, input {
    font-size: 0.7rem;
  }

  .about-container {
    padding: 0;
    margin-top: 60rem;
    height: 270px;
    background-color: rgb(215, 245, 255);
  }  

  .me.me-container, div.ed, form.my-form, .more.more-container {
    padding: 0.5rem;
    margin: 0;
  } 

  .me-container, .ed, .my-form {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 490px) {
  .me > .me-item > p, .ed > p, .info > p, .my-form > p, .more > p  {
      font-size: 0.8rem;
      margin: 1rem;
      line-height: 1.5rem;
    }

  .more-container > p, .my-form > p {
    line-height: 1.5rem;
  }

  .more {
    line-height: 1.3rem;
    font-size: 1rem;
  }
 .me-item, .ed > p, .my-form > p {
    font-size: 1.2rem;
    line-height: 0rem;
  }
 .me > .me-item > p, .ed > p, .info > p, .my-form > p {
    font-size: 1rem;
    margin: 1rem;
    line-height: 0rem;
  }

  .about-container {
    margin-top: 27rem;
  }  
}