.nav {
  padding-top: 0.4%;
  margin: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;

  height: 4rem;
  width: 100%;
  border: 6px solid rgb(65, 65, 65);
  font-size: 2rem;
  background-color: rgb(65, 65, 65);
  color: rgba(255, 241, 163, 0.5);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  white-space: nowrap;
  z-index: 100;
}

.logo, .links {
  display: block;
  padding-left: 3rem;
}
  
.logo { 
  grid-area: 1 / 1 / 2 / 3; 
}

.links { 
  grid-area: 1 / 5 / 2 / 6; 
  padding-right: 0;
}

a {
  color: rgba(255, 241, 163, 0.5);
  text-decoration: none;
  padding-right: 3rem;
}

a:hover {
  color: rgb(125, 160, 250);
}

.hamburger {
  display: none
}

@media only screen and (max-width: 800px) {
  .links {
    display: none;
    grid-area: 1 / 5 / 2 / 6;
  }

  .logo { grid-area: 1 / 1 / 2 / 2; }

  .hamburger {
    display: block;
    margin-top: 0.5rem;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  .nav {
    grid-template-rows: 1fr;
  }
}