.carousel-container{
  background-color: rgb(215, 245, 255);
  height: 80vh;
  width: 100vw;
  cursor: default;
}

.underline {
  text-decoration: underline;
}

.check {
  appearance: none;
  color: white;
}