.individual {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.name, .desc {
  padding-left: 10px;
  font-size: 1.5rem;
}

.name, .project-page-image {
  padding: 1rem;
}

.desc {
  font-size: 1rem;
}

.project-page-image {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 0;
  text-align: center;
}

.languages {
  width: 20%;
  white-space: nowrap;
}

.lang {
  height: 4vh;
  margin-bottom: 0;
  font-size: 1.1rem;
  text-decoration: underline;
  padding-left: 1rem;
}

.lang-list {
  margin-top: 0;
  font-size: 0.82rem;
  padding-left: 30px;
  padding-right: 90px;
}

.demo-code {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
  white-space: nowrap;
}

.ilinks {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-size: 0.9rem;
  color: black;
  text-decoration: underline;  
}

li.li {
  list-style: square;
  font-size: 1rem;
}

a.tooltips_cls {
  position: relative;
  display: inline;
  color: #000000;
  text-decoration: none;
}

a.tooltips_cls span {
  position: absolute;
  width: 400px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  border: 1px solid 000000;
  text-shadow: 0px 0px 0px #000000;
  color: white;
}

a.tooltips_cls span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

a:hover.tooltips_cls span {
  visibility: visible;
  opacity: 0.7;
  bottom: 30px;
  left: 50%;
  margin-left:-76px;
  z-index: 999;
}