.individual {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.name, .desc {
  padding-left: 10px;
}

.name, .project-page-image {
  padding: 1rem;
}

.desc {
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

.project-page-image {
  width: 325px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0;
  text-align: center;
}

.languages {
  width: 20%;
  white-space: nowrap;
}

.lang {
  height: 4vh;
  margin-bottom: 0;
  font-size: 0.86rem;
}

.lang-list {
  margin-top: 0;
  font-size: 0.82rem;
}

li.lang-item {
  display: block;
  list-style: square outside none;
}

.lang {
  text-decoration: underline;
  padding-left: 1rem;
}

.demo-code {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
  white-space: nowrap;
}

.links {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-size: 0.82rem;
  }