.page {
  height: 100%;
  width: auto;
  cursor: default;
  background-color: rgb(215, 245, 255);
  z-index: 99;
}

@media only screen and (max-width: 800px) {
  .page {
    height: 380vh;
  }
}

@media only screen and (max-width: 555px) {
  .page {
    height: 500vh;
  }
}